<div class="container">
    <div class="cards_item" *ngFor="let card of createCard">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{card.partenaireName || card.companieName || card.years || card.name}}</mat-card-title>
              <mat-card-subtitle>{{card.contact}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="card.picture" crossorigin="anonymous" alt="photo">
            <mat-card-content *ngIf="component !== 'homePartenaires' && component !== 'HomeArchives'">
                <p>telephone : {{card.phone | phoneFormat}}</p>
                <p>ville : {{card.town}}</p>
                <p>pays : {{card.contry}}</p>
                <p>code postal : {{card.postalCode}}</p>
                <p>description : {{card.description}}</p>
                <p>état : {{ card.activate ? 'actif' : 'non actif' }}</p>
                <p>montant : {{card.price}}</p>
            </mat-card-content>
            <mat-card-content *ngIf="component === 'homePartenaires'">
              <p>formule : {{card.formule}}</p>
              <p>montant : {{card.montant}}€</p>
              <p>état : {{ card.activate ? 'actif' : 'non actif' }}</p>
          </mat-card-content>
            <mat-card-actions>
              <button *hasPermission="permissionKey" mat-button (click)="openDialog(card.id)">modifier</button>
              <button *hasPermission="'admin'" mat-button (click)="deleteTroupe(card.id)">supprimer</button>

            </mat-card-actions>
          </mat-card>
    </div>
</div>