<div class="container">
    <div class="cards_item" *ngFor="let card of createCard">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{card.name}}</mat-card-title>
              <mat-card-subtitle>{{card.contact}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="card.picture" crossorigin="anonymous" alt="Photo of a Shiba Inu">
            <mat-card-content *ngIf="component !== 'HomeArchives'">
                <p>telephone : {{card.phone}}</p>
                <p>ville : {{card.town}}</p>
                <p>pays : {{card.contry}}</p>
                <p>code postal : {{card.postalCode}}</p>
                <p>description : {{card.description}}</p>
                <p>actif : {{card.activate}}</p>
                <p>montant : {{card.price}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="openDialog(card.id)">modifier</button>
              <button mat-button (click)="deleteTroupe(card.id)">supprimer</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>