<div class="container">
    <h2 mat-dialog-title>Modifier une archive :</h2>
    <mat-dialog-content>En modifiant une archive ici vous la modifiée également au site !</mat-dialog-content>
    <form class="example-form" [formGroup]="form">
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Lien du teaser</mat-label>
          <input matInput formControlName="teaser">
        </mat-form-field></td>
        
        <td><mat-form-field class="example-full-width">
          <mat-label>Année de l'archive</mat-label>
          <input matInput formControlName="years">
        </mat-form-field></td>
      </tr></table>

          <input class="file" type="file" accept=".jpg, .jpeg, .png, .gif, .mp4" (change)="onFileAdded($event)">
      </form>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Fermer</button>
      <button mat-button mat-dialog-close (click)="createArchives()">Valider</button>
    </mat-dialog-actions>
</div>
