<div class="container">
  <h2 mat-dialog-title>Ajouter un artisan :</h2>
  <mat-dialog-content>En ajoutant un artisan ici vous l'ajouterez également au site !</mat-dialog-content>
  <form class="example-form" [formGroup]="form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nom de la troupe</mat-label>
        <input matInput formControlName="name" [(ngModel)]="artisan.companieName">
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width">
        <mat-label>Contact de la troupe</mat-label>
        <input matInput formControlName="contact" [(ngModel)]="artisan.contact">
      </mat-form-field></td>
    </tr></table>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" [(ngModel)]="artisan.email">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Téléphone</mat-label>
          <input matInput type="tel" pattern="(0|(\\+33)|(0033))[1-9][0-9]{8}" maxlength="10" formControlName="phone" [(ngModel)]="artisan.phone">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Nombre de personnes</mat-label>
          <input matInput formControlName="person" type="number" [(ngModel)]="artisan.phone">
        </mat-form-field></td>
      </tr></table>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Ville</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="town" [(ngModel)]="artisan.ville">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Pays</mat-label>
          <input matInput placeholder="Ex. California" formControlName="contry" [(ngModel)]="artisan.pays">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Code Postal</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" type="text" pattern="/[0-9]{5}/g" formControlName="postalCode" [(ngModel)]="artisan.postalCode">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr></table>
  
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" [(ngModel)]="artisan.description"></textarea>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
              <mat-label>Prix</mat-label>
              <input matInput formControlName="price" [(ngModel)]="artisan.price">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Taille</mat-label>
              <input matInput formControlName="taille" [(ngModel)]="artisan.taille">
            </mat-form-field></td>
          </tr></table>

        <input class="file" type="file" accept=".jpg, .jpeg, .png, .gif, .mp4" (change)="onFileAdded($event)">
        <mat-slide-toggle [(ngModel)]="artisan.activate" formControlName="activate">Activer la campement</mat-slide-toggle>
    </form>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
    <button *hasPermission="'artisan'" mat-button mat-dialog-close (click)="modifyArtisans()">Valider</button>
  </mat-dialog-actions>
</div>
